# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/dist

# Angular
/.angular
/.vscode/chrome-debug-config.json
/.vscode/launch.json
/.vscode/tasks.json
/.vscode/mcp.json

# Misc
/_tmp
.DS_Store
Thumbs.db
.env
.env.*
.bak
*.log

# IDEs and Editors
/.idea
/.project
/.classpath
/.c9/
/*.launch
/.settings/
/*.sublime-workspace

# System Files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
